.ciutat-container {
      width: 600px;
      margin: 40px auto;
      padding: 20px;
      background: white;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    canvas {
      display: block;
      margin: 0 auto 15px;
      border: 1px solid #ccc;
    }

    button {
      padding: 8px 16px;
      font-size: 15px;
      cursor: pointer;
    }
spacer {width: 50px;}
body {background-color: #5D8E3B !important;}
#Calculadora {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}
#fitxer {
    border-radius: 15px;
    padding: 30px;
    background-color: #e2e2e2;
}
#botofitxer {
  background-color: #5D8E3B;
  color: white;
  padding: 12px 30px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold; 
}